*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    width: 100vw;
    border: 2px solid#ccc;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    /* padding: 10px; */
    position: fixed;
    top: 0px;
    z-index: 10;
}
ul{
    list-style: none;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    width: 600px;
    /* border: 2px solid black; */
}
a{
    text-decoration: none;
    color: black;
}
li{
    padding: 14px 10px;
    /* border: 2px solid black; */
}
@media screen and (max-width:580px){

    nav,ul{
        flex-direction: column;
        align-items: center;
    }
}


/* NAV BAR ENDS HERE */

.container{
    border: 2px solid black;
    margin: 70px 0px;
    display: flex;
    flex-wrap: wrap;
}
.head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 20px;
    border: 2px solid black;
    padding: 10px;
}
.side{
    width: 20vw;
    border: 2px solid blue;
    padding: 10px;
}
.main{
    border: 2px solid red;
    width: 25vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ccc;
}
.main figure{
    width: 330px;
    height: 130px;
    margin: 10px;
    padding: 10px;
    border: 2px solid blue;
    background-color: aliceblue;
    border-radius: 20px;
    transition: 250ms;
}
.main figure:hover{
    transform: scale(1.02);
    cursor: pointer;
    
}

.right{
    padding-left: 10px;
    width: 51vw;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}



.button1{
    border: 1px #ccc;
    border-radius: 2px;
    color: darkviolet;
    background-color: lightcyan;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.button2{
    border: 1px #ccc;
    border-radius: 5px;
    color: white;
    background-color:blue;
    padding: 8px 40px;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.button3{
    border: 1px #ccc;
    border-radius: 5px;
    color: black;
    background-color:lightgray;
    padding: 8px 40px;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 20px;
}


